<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/images/login.png" alt="Recuperar Contraseña" title="Recuperar Contraseña">
    <h1>Recuperar Contraseña</h1>

    <form [formGroup]="recoveryUser" (ngSubmit)="recovery()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
        <label>Correo</label>

        <span *ngIf="recoveryUser.get('email')?.hasError('required') && recoveryUser.get('email')?.touched" class="text-danger errorLabel">
          El <strong>correo</strong> es requerido
        </span>

        <span *ngIf="recoveryUser.get('email')?.hasError('email') && recoveryUser.get('email')?.touched" class="text-danger errorLabel">
          El <strong>correo</strong> es invalido
        </span>
      </div>

      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="recoveryUser.invalid" >Recuperar</button>
      </div>

      <a [routerLink]="['/login']">Volver</a>
    </form>
  </div>

  <app-shared-loading *ngIf="loading"></app-shared-loading>
</div>
